# --- Ignorar Datos Pesados ---
# Ignorar todo dentro de la carpeta data
data/*

# EXCEPCIÓN: ¡No ignorar los archivos .gitkeep!
!data/**/.gitkeep
# --- Ignorar Archivos de Sistema/Python ---
__pycache__/
*.pyc
.ipynb_checkpoints/
.DS_Store
.env
venv/
.vscode/
